/dist
/node_modules

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

pids
*.pid
*.seed
*.pid.lock

lib-cov

.DS_Store

coverage
*.lcov

.nyc_output

build/Release

node_modules/
jspm_packages/

*.tsbuildinfo

.npm

.eslintcache

.node_repl_history

*.tgz

.env
.env.test

test-results*.xml

.vscode/

es-lint-report.json